<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [2]:
import pandas as pd
import numpy as np
import psycopg2
import csv

ImportError: dlopen(/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so, 0x0002): Library not loaded: @rpath/libpq.5.dylib
  Referenced from: <E1431956-6A78-3D46-98FC-3C15901DC39F> /Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so
  Reason: tried: '/usr/lib/libpq.5.dylib' (no such file, not in dyld cache)

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
conn = psycopg2.connect(
    host='localhost',
    database='postgres',
    user='postgres',
    password='12345'
)

NameError: name 'psycopg2' is not defined

In [4]:
cur = conn.cursor()

In [34]:
cur.close()

In [35]:
cur.closed

True

In [9]:
%sql postgresql://postgres:981919@localhost/postgres

Traceback (most recent call last):
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/dialects/postgresql/psycopg2.py", line 690, in import_dbapi
    import psycopg2
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/__init__.py", line 51, in <module>
    from psycopg2._psycopg import (                     # noqa
ImportError: dlopen(/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so, 0x0002): Library not loaded: @rpath/libpq.5.dylib
  Referenced from: <E1431956-6A78-3D46-98FC-3C15901DC39F> /Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so
  Reason: tried: '/usr/lib/libpq.5.dylib' (no such file, not in dyld cache)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/sqlalchemy/dialects/postgresql/psycopg2.py", line 690, in import_dbapi
    import psycopg2
  File "/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/__init__.py", line 51, in <module>
    from psycopg2._psycopg import (                     # noqa
ImportError: dlopen(/Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so, 0x0002): Library not loaded: @rpath/libpq.5.dylib
  Referenced from: <E1431956-6A78-3D46-98FC-3C15901DC39F> /Users/mikemusas/Documents/DataProjects/venv/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so
  Reason: tried: '/usr/lib/libpq.5.dylib' (no such file, not in dyld cache)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [21]:

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
#df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False, method="multi")

df.to_csv('Spacex.csv', index=False)

**Note:This below code is added to remove blank rows from table**

In [37]:
%sql CREATE TABLE capstone.spacextable AS SELECT * FROM capstone.spacex WHERE "Date" IS NOT NULL

 * postgresql://postgres:***@localhost:5432/postgres
101 rows affected.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [38]:
%sql SELECT DISTINCT launch_site FROM capstone.spacextable;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [39]:
%sql SELECT * FROM capstone.spacextable WHERE launch_site LIKE 'CCA%' LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [40]:
%%sql
SELECT
    SUM(payload_mass__kg_) AS total_payload_mass_kg
FROM capstone.spacextable
WHERE customer = 'NASA (CRS)';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [43]:
%%sql
SELECT
    ROUND(AVG(payload_mass__kg_), 2) AS avg_payload_mass_kg
FROM capstone.spacextable
WHERE booster_version = 'F9 v1.1';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('2928.40'),)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [47]:
%%sql
SELECT
    MIN(date) AS first_successful_landing
FROM capstone.spacextable
WHERE landing_outcome = 'Success (ground pad)';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [49]:
%%sql
SELECT
    booster_version
FROM capstone.spacextable
WHERE landing_outcome = 'Success (drone ship)'
    AND (payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000);

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [51]:
%%sql
WITH mission_outcome_results AS ( 
    SELECT
        CASE
            WHEN mission_outcome LIKE 'Success%' THEN 'Success'
            ELSE 'Failure'
        END AS mission_outcomes
    FROM capstone.spacextable
)
SELECT
    mission_outcomes,
    COUNT(mission_outcomes) AS total
FROM mission_outcome_results
GROUP BY mission_outcomes;

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Success', 100), ('Failure', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [53]:
%%sql
SELECT
    booster_version
FROM capstone.spacextable
WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM capstone.spacextable);

 * postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [56]:
%%sql
SELECT
    TO_CHAR(date, 'Month') AS month,
    landing_outcome,
    booster_version,
    launch_site
FROM capstone.spacextable
WHERE EXTRACT(YEAR FROM date) = 2015
    AND landing_outcome = 'Failure (drone ship)';

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('October  ', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April    ', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [57]:
%%sql
SELECT
    landing_outcome,
    COUNT(landing_outcome) AS total
FROM capstone.spacextable
WHERE date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY landing_outcome
ORDER BY total DESC;

 * postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1),
 ('Failure (parachute)', 1)]

In [58]:
%%sql
SELECT DISTINCT launch_site FROM capstone.spacextable;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]